@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@200;300;400;500;600;700;800;900&display=swap')
    
$pink-color: #DF80AC
$border: solid black 2px
$round-text: 350px

body
    font-family: fantasy
    height: 100vh
    padding: 0
    
header
    height: 10%

section
    height: 90%

.the-alt-text
    height: 25%

.the-circle-text
    height: 75%


.all-height
    height: 100%
    
.bg-pink
    background-color: $pink-color

.boxes-shadow-alt
    border-radius: 10px
    border: $border
    box-shadow: -5px 5px 0px -1px black
    .progress-bar
        background-color: $pink-color

.boxes-shadow
    border-radius: 10px
    border: $border
    box-shadow: -7px 7px 0px -3px #DF80AC, -7px 7px 0px -1px black
    overflow: hidden


.gif
    @extend .boxes-shadow
    padding: 25px
    margin: 25px
    max-height: 40%
    img
        max-width: 100%
        max-height: 100%

.citation
    @extend .boxes-shadow
    padding: 25px 25px 0 25px
    margin: 25px
    margin-bottom: 0
    max-height:40%

.square
    width: $round-text
    aspect-ratio: 1/1
    border: $border
    box-shadow: -17px 17px 0px -1px black
    overflow: hidden
    margin: 50px
.square img
    width: $round-text

.text-alt
    font-family: Gluten
    font-weight: bold
    font-size: 4em
.left-top-star
    position: absolute
    top: 130px
    left: 45px

.right-star
    position: absolute
    top: 255px
    left: 485px
.left-bottom-star
    position: absolute
    top: 430px
    left: 45px